/ahktest_simple.ahk
/antyafk.ahk
/demonic clicker.ahk
/gdi.ahk
/Gdip_All.ahk
/gui3.ahk
/lib
/monk.ahk
/mousePos.ahk
/New AutoHotkey Script.ahk
/skrzynka.ahk
/trener.exe
/walker.ahk
/zbieraczka.ahk
/icons
uhaczka.exe
